
<!DOCTYPE html>
<html lang="en">
<head>
    @* <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="~/Images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/favicon-16x16.png">
    <meta name="google" value="notranslate">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="theme-color" content="#000000">
    <meta name="image" content="https://images.ctfassets.net/m868ks80jg7q/6ZXslbF4d6JDzjnAPyriyh/8387ea09160c40a98750f94ba77d8d2a/curacao-homepage-header-mobile3.jpg?w=1200&amp;h=630&amp;fm=jpg">
    <meta property="og:image" content="https://images.ctfassets.net/m868ks80jg7q/6ZXslbF4d6JDzjnAPyriyh/8387ea09160c40a98750f94ba77d8d2a/curacao-homepage-header-mobile3.jpg?w=1200&amp;h=630&amp;fm=jpg">
    <meta property="og:title" content="OFFICIAL Digital Immigration Card C">
    <meta property="og:type" content="website">
    <meta name="twitter:site" content=@("@c")>
    <meta name="twitter:creator" content=@("@c")>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="description" content="Proof of a completed Digital Immigration card is mandatory to enter the island of C. We look forward to welcome you back soon.">
    <meta property="og:description" content="Proof of a completed Digital Immigration card is mandatory to enter the island of C. We look forward to welcome you back soon.">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>title</title> *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRMS.WebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" nonce="@Html.ScriptNonce()" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" nonce="@Html.ScriptNonce()" />
    <link rel="stylesheet" href="~/HRMS.WebApplication.styles.css" asp-append-version="true" nonce="@Html.ScriptNonce()" />
    <script src="~/lib/jquery/dist/jquery.min.js" nonce="@Html.ScriptNonce()"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" nonce="@Html.ScriptNonce()"></script>
    <link href="https://cdn.datatables.net/2.3.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" nonce="@Html.ScriptNonce()" />
    <script src="https://cdn.datatables.net/2.3.3/js/dataTables.min.js" nonce="@Html.ScriptNonce()"></script>
    <script src="https://cdn.datatables.net/2.3.3/js/dataTables.bootstrap5.min.js" nonce="@Html.ScriptNonce()"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" nonce="@Html.ScriptNonce()" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">HRMS.WebApplication</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-12">
                    <input type="text" name="name" id="text" class="form-input" />
                    <button type="button" id="text-btn" class=" btn btn-success">Send</button>
                </div>
                <div class="col-12">
                    <ul id="list-ul"></ul>
                </div> 
            </div>
            
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - HRMS.WebApplication - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        

    </script>

    <script src="~/js/site.js" asp-append-version="true" nonce="@Html.ScriptNonce()"></script>
    <script src="~/lib/microsoft-signalr/signalr.min.js" nonce="@Html.ScriptNonce()"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
